html {
    margin: 50% auto;
    height: 1000px;
    width: 1000px;
}

p {
    border: solid 5px black;
    border-radius: 5px;
    background: #40E0D0;
    padding: 10px 20px;
    width: 200px;
    margin: auto;
}