body {
    margin: 25% auto;
    display: flex;
    justify-content: center;
    background: rgb(238, 238, 238);
}

.card {
    background-color: rgb(255, 255, 255);
    flex-basis: 25%;
    padding: 20px;
}

h1 {
    background-color: rgb(255, 255, 255);
    flex-basis: 25%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.75);
}