@media only screen and (max-width: 600px) {
    .table-legend {
        display: none;
    }
    tr {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    td {
        text-transform: capitalize;
    }
    .first-name::before, .last-name::before, .job::before {
        padding-right: 10px;
    }
    .first-name::before {
        content: "first name ";
        font-weight: bold;
    }
    .last-name::before {
        content: "last name ";
        font-weight: bold;
    }
    .job::before {
        content: "job title ";
        font-weight: bold;
    }
}