html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.article-wraper {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    align-items: flex-start;
}
article {
    max-width: 28%;
    margin: 0px 10px;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

p {
    text-align: justify;
}