body {
    margin: 50px auto;
    background-color: #EFEFEF;
    width: 70%;
}

header, main, aside, footer {
    /* border: solid 2px black; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(46, 46, 46, 0.3);
    background-color: white;
    margin: 12px;
    justify-content: flex-start;
}

.page-layout {
    flex-grow: 1;
}

.page-header header {
    height: 15vh;
}

.page-middle {
    display: flex;
    justify-content: stretch;
    height: 40vh;
}

.page-middle main {
    width: 60%;
}

.page-middle aside {
    flex-grow: 1;
}

.page-footer footer {
    height: 10vh;
}

p {
    padding: 10px;
}